<!-- about.component.html -->
<div class="about-container">
  <h2>About</h2>
  <p>Esperaremos su proxima visita</p>
  <div class="team-members">
    <div class="team-member">
      <div class="member-name">Franklin Uquiche</div>
      <div class="member-position">Desarrollador Principal</div>
    </div>
    <div class="team-member">
      <div class="member-name">Amanda Smith</div>
      <div class="member-position">Diseñadora de Interfaz</div>
    </div>
    <div class="team-member">
      <div class="member-name">Carlos García</div>
      <div class="member-position">Estratega de Marketing</div>
    </div>
  </div>
  <!-- Mensaje de agradecimiento -->
  <p>Gracias</p>
  <!-- Botón de regreso -->
  <button (click)="goBack()">Atrás</button>
</div>
