<!-- home.component.html -->
<div class="home-container">
  <a class="back-arrow" (click)="retroceder()"><i class="fas fa-arrow-left"></i> ←</a>
  <a class="back-arrow" (click)="avanzar()"><i class="fas fa-arrow-left"></i> →</a>
  <h1>Bienvenidos a Umimaps</h1>
  <p>Umimaps es una aplicación para explorar las maravillosas rutas turísticas del Perú.</p>
  
  <div class="developer-info">
    <img src="assets\Mapa de Perú.jpg" alt="Desarrollador" class="developer-image">
    <div class="developer-details">
      <p>¡Hola! Soy Franklin Uquiche Sanz, el creador de Umimaps. Estoy emocionado de presentarte esta aplicación para que puedas descubrir las mejores rutas turísticas en el Perú.</p>
    </div>
  </div>
  <img src="assets\R.jpg" alt="Umimaps Logo" class="umimaps-logo">
  <button (click)="agradecimiento()">se prensenta gracias a:</button>
</div>
